.payement_header {
  padding: 20px;
  text-align: center;
  font-style: 25px;
  background-color: rgb(234, 237, 237);
}
.payement {
  padding: 30px;
}
.flex {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 80px !important;
}
.flex div {
  height: auto !important;
}
.payement_Card_container {
  max-width: 350px;
  width: 100%;
}

/* .Payement_details {
} */
.payement_prices {
  padding: 20px;
}
.payement_prices div {
  display: flex;
  font-size: 16px;
  gap: 10px;
}

.Payement_details button {
  margin-top: 15px;
  width: 100%;
  border: none;
  background-color: #d49644;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.Payement_details button:hover {
  background-color: #febd69;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
