.catagory {
  height: 340px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.catagory img {
  width: 100%;
  object-fit: contain;
  max-height: 248px;
  padding: 0 10px;
}

.catagory a {
  text-decoration: none;
  color: rgb(34, 35, 35);
}
.catagory p,
.catagory h2 {
  padding: 5px;
  margin-left: 15px;
}

.catagory p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}
.catagory__container {
  margin-bottom: 50px;
  position: relative;
  margin-top: -100px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
